/* --------------- [GLOBAL STYLES] --------------- */
body {
  background-color: white;
  font-family: 'PT Sans', sans-serif;
  font-size:18px;
  color:#41484C;
  -webkit-text-size-adjust: none;  /* prevent font sizes from changing in iphone landscape mode */
	word-wrap:break-word;
}
hr {
	border:0;
	height:1px;
	background-color:#e0e0e0;
	margin:50px 0;
}

/* --------------- [TYPOGRAPHY] --------------- */
h1, h2, h3, h4, h5, h6 {
  font-weight:600;
  margin-bottom:0.8em;
  line-height:1.8;
}
h1 { font-size: 32px; line-height:1.3; margin-bottom:16px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 24px; }
h5 { font-size: 16px; margin-bottom:32px;margin-top:-32px; } /* used for captions only */
h6 { font-size: 12px; }
p {
	line-height:1.8;
	margin-bottom:36px;
	font-weight:400;
}
p a {
	border-bottom:1px solid rgba(0,0,0,0.15);
}
b, strong {
	font-weight:600;
}
em {
	font-style:italic;
}
.gray,
.gray a {
	color:#aaaaaa;
}

/* links */
a {
    color: #41484C;
	-webkit-transition:all 0.1s ease-in-out;
	-moz-transition:all 0.1s ease-in-out;
	transition:all 0.1s ease-in-out;
	text-decoration:none;
	font-weight:600;
}
a:hover {
	background-color: #ECEBFF;
	text-decoration:none;
}
a:active {
	background-color: #DBDAF7;
}
a:visited {
	background-color: #F3F3DA;
}


/* blockquotes */
blockquote {
	padding: 24px 20px 26px 30px;
	border-left: 1px solid #e0e0e0;
	background-color:#f9f9f9;
	margin-bottom:32px;
}
blockquote p {
	color:gray;
}
blockquote p:last-child {
	margin-bottom:0;
}

/* code snippets */
pre {
	padding:24px 20px 26px 30px;
	border-left:1px solid #D6D5E9;
	margin-bottom:32px;
	background-color:#F6F6FE;
	font-family:'Courier', monospace;
	font-size:13px;
	color:#666666;
}
pre p:last-child {
	margin-bottom:0;
}

/* --------------- [HEADER] --------------- */

#header {
    padding-top: 50px;
    max-width: 600px;
    margin:0 auto;
}
/* site title */
#header a:visited:hover {
	background-color: #ECEBFF;
}
#header .title a:visited:active {
	background-color: #DBDAF7;
}
#header img {
    border: 1px solid #DBDBDB;
    padding: 4px;
    border-radius: 100px 100px 100px 100px;
    height: 100px;
    width: 100px;
}

/* --------------- [CONTENT] --------------- */
#content {
	padding:10px 20px 100px 20px;
    max-width: 600px;
    margin:0 auto;
}


/* --------------- [HOME] --------------- */
.home #content h1 {
	font-size:24px;
	margin-bottom:10px;
}
.home #content h1 a {
	font-weight:600;
}
.home #content .entry-meta {
	text-transform:uppercase;
	font-size:13px;
	color:#AAAAAA;
	margin-bottom:34px;
	padding-bottom:40px;
	letter-spacing:1px;
	border-bottom:1px solid #e0e0e0;
}
.home #content ul.posts li:last-child .entry-meta {
	border-bottom:none;
}
.home #content .entry-meta .views {
	color:#ccc;
	margin-left:10px;
}
.home #content .entry-meta .views:before {
	content:'•';
	margin-right:11px;
}

/* list of posts */
.home #content .posts {
	list-style:none;
}

/* --------------- [POST] --------------- */
#content .entry-date {
	text-transform:uppercase;
	color:#AAAAAA;
    margin-bottom: 50px;
    padding-bottom: 54px;
	letter-spacing:1px;
	display:block;
	border-bottom:1px solid #e0e0e0;
}
#content h3 {
	margin-bottom: 32px;
	font-weight:400;
}
#content img {
	height:auto;
	width:auto;
	max-width:100%;
}
#content ul {
	list-style:disc;
	line-height:1.8;
	margin:-36px 0 36px 17px;
}
